extends layout

include mixins/_entityCard

block content
    .inner
        h2 #{title}
        //pre= h.dump(entities)
        .sctores
            each e in entities    
                +entityCard(e)
