doctype html
html
  head
    title= `${title} | ${h.siteName}`
    link(rel='stylesheet', href='/dist/bootstrap.darkly.css')
    link(rel='stylesheet', href='/dist/style.css')
    link(rel="shortcut icon" type="image/png" href="/images/icons/favicon.ico")
    meta(name="viewport" content="width=device-width, initial-scale=1")
  body
    block header
        .navbar.navbar-default
            .container
                //- Brand and toggle get grouped for better mobile display
                .nav-header 
                    button.navbar-toggle(type='button', data-toggle="collapse")
                        span.sr-only Toggle navigation
                        span.icon-bar
                        span.icon-bar
                        span.icon-bar
                    a.navbar-brand(href='#') Tech Library
                //- Collect the nav links, forms, and other content for toggling
                .collapse.navbar-collapse
                    ul.nav.navbar-nav
                        li.active
                            a(href='/') Resorces
                        li
                            a(href='/') Add
                        li
                            a(href='/') Top

                    ul.nav.navbar-nav.navbar-right
                        li
                            a(href='/') Login
                        li
                            a(href='/') Register
                        li
                            a(href='/') Logout
    .container
        block messages
        
        block content

    block footer
        footer.navbar-fixed-bottom
            .container
                p.text-muted.text-right
                    | Copyright 2017 by 
                    a(href='https://github.com/benjaminhuanghuang') Benjamin Huang
                    
    block scripts
      