extends layout

block content
    .inner
        form.form(method="POST")
            h2 Reset Your Password
            .form-group
                label(for="password") Password
                input.form-control(type="password" name="password")
            .form-group
                label(for="password-confirm") Confirm Password
                input.form-control(type="password" name="password-confirm")
            button.btn.btn-primary.btn-lg.center-block(type="submit") Reset Password